/*--------------- CONTACTO -------------*/

.titulo__contacto {
  color: $color_titulos;
  font-size: 3em;
  margin: 1em;
}

.formulario__mapa {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacto {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto__icono {
    width: 25rem;
    color: #3AAF77;
    margin: 0.5em;
  }

.mapa {
  color: $color_titulos;
  font-size: 2rem;
  width: 50%;
  margin: 2em;
  text-align: center;
}

.iframe__mapa {
  width: 20em;
  height: 20em;
}