/*--------------- CONTACTO -------------*/

.titulo__contacto {
  color: $color_titulos;
  font-size: $size_titulos/4;
  margin: 2em;
}

.formulario__mapa {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.formulario__contacto {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2em;
}

.mapa {
  color: black;
  font-size: 2rem;
  width: 70rem;
  height: 70rem;
  margin: 2em;
}