/*--------------- HORARIOS Y ARANCELES -------------*/

.titulo__horarios {
  color: $color_titulos;
  font-size: $size_titulos/2;
  text-transform: uppercase;
  display: flex;
  flex: row wrap;
  justify-content: center;
}

.horarios__aranceles {
  width: 90%;
  margin: 20px;
}

.tablas__horarios {
  display: flex;
  justify-content: center;
}

.table-bordered {
  border-color: white;
}

.tablas__divisor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: black;
  background: rgb(145,251,200);
background: linear-gradient(180deg, rgba(145,251,200,1) 34%, rgba(183,255,212,1) 70%);
  margin: 1em;
 }

.tabla__nombre {
  background-color: white;
  width: 100%;
  align-self: center;
  font-size: 4em;
}

.tabla__titulo {
  text-align: center;
  font-size: 3em;  
}

.tabla__horario {
  text-align: center;
  font-size: 2em;  
  font-weight: bold;  
}

.tabla__actividad {
  text-align: center;
  font-size: 2em;
}



.aranceles {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  color: black;

  .aranceles__presencial, .aranceles__virtual {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 4em;
  }

  p {
    font-size: 2em;
  }
}

.preguntas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

.preguntas__protocolo {
  background-color: #3AAF77;
  color: #CED5C7;
  font-size: 2.5rem;
  border: 1px solid black;
  display: flex;
  align-self: stretch;
  justify-self: center;
  padding: 1fr;
}

.preguntas__consideraciones {
  color: $color_parrafo;
  font-size: $size_parrafo/2;
  font-weight: bold;
  margin: 3rem;
}

.preguntas__faq {
  background-color: #65E298;
  color: $color_parrafo;
  font-size: $size_titulos/2;
  margin: 1rem;
}

.accordion-button {
  font-size: $size_parrafo/4;
  color: $color_titulos;
}

.accordion-body {
  font-size: $size_parrafo/2;
  color: $color_parrafo;
}