/*--------------- NOSOTROS -------------*/
.titulo__nosotros {
  font-size: 4rem;
  text-align: center;
}

.quienes__somos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;

  img {
    width: 20em;
    height: 20em;
    padding: 1em;
  }
}

.nosotros__title {
  font-size: 3rem;
  color: $color_titulos;
}

.nosotros__text {
  font-size: 2rem;
  color: $color_parrafo;
  font-weight: bold;
}

.nosotros {
  display: flex;
  margin: 20px;
}